@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/SFProDisplay-Regular.ttf"); }

@font-face {
  font-family: "NewYorkExtraLarger";
  src: url("../fonts/NewYorkExtraLarge-Regular.otf"); }

body {
  font-family: "SFProDisplay-Regular";
  color: #333;
  font-size: 17px; }

.btn {
  outline: none; }

img {
  max-width: 100%; }

a {
  color: #8E2976; }

a:hover,
a:focus {
  text-decoration: none; }

.img-100 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.d-block {
  display: block; }

.icons {
  display: inline-block;
  vertical-align: middle; }

.header {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05); }

.icons-top .icons {
  width: 50px;
  height: 38px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  margin-left: 10px; }

.left-header {
  float: left; }

.right-header {
  float: right;
  display: flex;
  align-items: center; }

.top-header {
  padding: 20px 0; }

.search-top::-webkit-input-placeholder {
  color: #999999; }

.search-top:-ms-input-placeholder {
  color: #999999; }

.search-top::-ms-input-placeholder {
  color: #999999; }

.search-top::placeholder {
  color: #999999; }

.search-top {
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  width: 500px;
  height: 38px;
  background: url("../img/icons/ic-search.png") no-repeat left 13px center/16px;
  padding-left: 42px;
  font-size: 16px; }

.lang-i {
  background: #EEEEEE;
  border-radius: 3px;
  border: 1px solid #EEEEEE;
  margin-right: 10px; }
  .lang-i a {
    font-size: 17px;
    padding: 6px 16px;
    display: inline-block;
    color: #333; }
  .lang-i a.active {
    background: #fff; }

.ic-whatsapp {
  background: url("../img/icons/ic-whatsapp.png") no-repeat center/20px; }

.ic-message {
  background: url("../img/icons/ic-message.png") no-repeat center/22px; }

.ic-shops {
  background: url("../img/icons/ic--basket.png") no-repeat center/20px;
  position: relative; }
  .ic-shops .ic-nof {
    position: absolute;
    top: -2px;
    right: -2px;
    font-style: normal;
    font-size: 11px;
    background: #EF2525;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
    font-weight: 600; }

.ic-user {
  background: url("../img/icons/ic-user.png") no-repeat center/20px; }

.img-logo {
  width: 152px;
  margin-right: 48px; }

.top-header {
  border-bottom: 1px solid #F5F5F5; }

.ic-menu {
  background: url("../img/icons/ic-menu.png") no-repeat center/14px;
  width: 14px;
  height: 14px;
  margin-right: 10px; }

.menu {
  height: auto;
  padding: 25px 0;
  margin-bottom: 0; }
  .menu .navbar-brand {
    border-right: 1px solid #E5E5E5;
    margin-right: 40px;
    height: auto;
    padding: 0 40px 0 15px; }
  .menu a {
    color: #333333; }

.menu-li ul li a {
  padding: 0;
  margin-right: 40px;
  border-bottom: 1px solid #E6E6E6; }

.menu-li ul li a:focus,
.menu-li ul li a.active,
.menu-li ul li a:hover {
  background: transparent;
  color: #8E2976; }

.bg-green {
  background: #CA0F75;
  color: #fff; }

.bg-red {
  background: #EF2525;
  color: #fff; }

.bg-white {
  background: #fff;
  color: #8E2976; }

.item-books:hover {
  color: #8E2976; }

.icon-make {
  background: url("../img/icons/ic-make.png") no-repeat center/14px;
  width: 14px;
  height: 14px;
  margin-right: 5px; }

.top-text-books {
  text-transform: uppercase; }

.big-title {
  font-size: 42px;
  font-family: "NewYorkExtraLarger";
  margin-bottom: 50px;
  margin-top: 0; }
  .big-title span.pull-right {
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    padding-top: 25px; }

.ic-arrow-r {
  background: url("../img/icons/ic-arrow-r.png") no-repeat center/8px;
  width: 8px;
  height: 12px;
  margin-left: 10px; }

.btn-border-w {
  background: transparent;
  border: 1px solid #fff; }

.btn {
  min-width: 300px; }

.btn-auto {
  min-width: auto !important; }

.btn-lg {
  padding: 10px 35px; }

.top-slid {
  display: flex;
  align-items: center; }

.top-slid > div {
  width: 33.3333%; }

.mt-40 {
  margin-top: 40px; }

.section-row {
  padding: 30px 0; }

.img-book {
  position: relative;
  font-weight: 500; }
  .img-book .text-grey {
    font-weight: normal; }
  .img-book .top-text-books {
    font-size: 11px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    padding: 2px 6px; }

.text-grey {
  color: #777777; }

.fs-15 {
  font-size: 15px; }

.slid-books {
  margin: 0 -10px; }
  .slid-books .slick-next {
    right: -68px; }
  .slid-books .slick-prev {
    left: -68px; }
  .slid-books .slick-next,
  .slid-books .slick-prev {
    background: #fff;
    width: 38px;
    height: 38px;
    top: 37%;
    z-index: 10; }
  .slid-books .slick-next:before {
    content: url("../img/icons/ic-next.png"); }
  .slid-books .slick-prev:before {
    content: url("../img/icons/ic-prev.png"); }
  .slid-books .slick-next:before, .slid-books .slick-prev:before {
    opacity: 1; }
  .slid-books a {
    color: #333333; }

.item-books {
  padding: 0 10px;
  height: 340px;
  overflow: hidden; }
  .item-books p.text-grey {
    margin-bottom: 4px; }
  .item-books img {
    margin-bottom: 12px;
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px; }

.icon-dot {
  background: url("../img/icons/dots.png") no-repeat center/8px;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  vertical-align: baseline; }

.icon-star {
  background: url("../img/icons/ic-star.png") no-repeat center/11px;
  width: 11px;
  height: 11px;
  margin-right: 3px;
  vertical-align: text-top; }

.icon-scoro {
  background: url("../img/icons/icon-scoro.png") no-repeat center/8px;
  width: 8px;
  height: 12px;
  margin-right: 3px;
  vertical-align: middle; }

.bg-yellow {
  background: #FF9900;
  color: #fff; }

.text-article {
  color: #333;
  padding: 20px 20px 0;
  height: 210px;
  overflow: hidden;
  margin-bottom: 20px; }

.item-article {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden; }
  .item-article img {
    width: 100%;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover; }

.item-article:hover {
  transition: ease all .4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); }
  .item-article:hover .text-article {
    color: #CA0F75; }

.text-green {
  color: #8E2976; }

.bg-black-grey {
  background: #2D2F31 url("../img/bg/img1.png") no-repeat center right/auto;
  min-height: 290px;
  color: #fff;
  padding: 35px 50px;
  border-radius: 5px;
  font-size: 18px; }
  .bg-black-grey .btn {
    margin-top: 30px;
    min-width: 230px;
    margin-right: 10px;
    width: 230px;
    height: 50px; }
  .bg-black-grey .big-title {
    margin-bottom: 15px; }

.max-w-420 {
  max-width: 420px; }

.btn-grey {
  background: rgba(255, 255, 255, 0.03); }

.btn-grey:focus,
.btn-grey:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff; }

.ic-app {
  background: url("../img/icons/ic-app.png") no-repeat center/24px;
  width: 24px;
  height: 28px;
  margin-right: 15px; }

.ic-and {
  background: url("../img/icons/ic-and.png") no-repeat center/24px;
  width: 24px;
  height: 28px;
  margin-right: 15px; }

.footer {
  background: #19191C;
  padding: 40px 0;
  color: #9898B0; }
  .footer a {
    color: #9898B0; }
  .footer a:hover {
    color: #fff; }
  .footer ul {
    padding: 0;
    list-style: none;
    margin: 0; }
    .footer ul li {
      margin-bottom: 12px; }

.logo-footer {
  margin-bottom: 25px; }

.btn-mob {
  margin-top: 20px; }
  .btn-mob img {
    margin-right: 10px; }

.d-flex {
  display: flex; }

.img-in-book {
  width: 350px;
  min-width: 350px; }
  .img-in-book img {
    width: 100%;
    height: 560px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px; }

.fs-32 {
  font-size: 32px; }

.tab-inf-books .btn {
  min-width: auto;
  height: 50px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 25px; }

.tab-inf-books .btn.btn-blue {
  min-width: 270px;
  margin-right: 10px; }

.payments img {
  margin: 0 10px 15px 0; }

.inf-in-book {
  padding-left: 50px;
  max-width: 498px; }

.tab-inf-books {
  padding-top: 25px; }

.fs-24 {
  font-size: 24px; }

.inf-range {
  margin-top: 20px; }

.inf-range > div:first-child {
  margin-right: 9px; }

.inf-range > div {
  display: inline-block;
  border: 1px solid #EEEEEE;
  border-radius: 4px; }

.inf-range > div > span {
  padding: 10px 20px;
  display: inline-block; }

.count-review {
  border-left: 1px solid #EEEEEE; }

.fa-star {
  color: #C4C4C6;
  margin-left: 3px; }

.fa-star.checked {
  color: #8E2976; }

.ic-frag {
  background: url("../img/icons/ic-frag.png") no-repeat center/18px;
  width: 18px;
  height: 18px;
  margin-right: 5px; }

.link-type-books {
  margin-top: 30px; }

.nav-tabs.nav-justified > li > a {
  border: 1px solid #F5F5F5;
  white-space: nowrap;
  background: #F5F5F5;
  color: #555555;
  border-radius: 0; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > a:hover {
  background: #fff;
  border: 1px solid #F5F5F5; }

.tabs-li {
  margin-bottom: 30px;
  border: 0; }

.tabs-li > li > a {
  border: 1px solid #F5F5F5;
  white-space: nowrap;
  background: #F5F5F5;
  color: #555555;
  border-radius: 0;
  margin-right: 0;
  padding: 5px 30px; }

.tabs-li > .active > a, .tabs-li > .active > a:focus, .tabs-li > .active > a:hover, .tabs-li > a:hover {
  background: #fff;
  border: 1px solid #F5F5F5 !important; }

.ic-basket {
  background: url("../img/icons/ic--basket.png") no-repeat center/20px;
  width: 20px;
  height: 22px;
  margin-right: 20px; }

.ic-pod {
  background: url("../img/icons/ic-pod.png") no-repeat center/22px;
  width: 22px;
  height: 22px;
  margin-right: 20px; }

.btn-blue,
.btn-blue:hover,
.btn-blue:focus {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #8E2976;
  color: #fff; }

.btn-border-blue {
  border: 1px solid rgba(3, 133, 124, 0.2);
  color: #8E2976;
  background: #fff; }

.social-icons i {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  margin-top: 30px; }

.social-icons .ic-vk {
  background: url("../img/icons/ic-vk.png"); }

.social-icons .ic-tw {
  background: url("../img/icons/ic-tw.png"); }

.social-icons .ic-fb {
  background: url("../img/icons/ic-fb.png"); }

.social-icons .ic-tg {
  background: url("../img/icons/ic-tg.png"); }

.social-icons .ic-ins {
  background: url("../img/icons/ic-ins.png"); }

.text-black {
  color: #333; }

.mb-25 {
  margin-bottom: 25px; }

.img-review {
  background: #eee;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  float: left; }

.text-review {
  margin-left: 70px; }

.ml-15 {
  margin-left: 15px; }

.item-review {
  margin-bottom: 40px; }
  .item-review .btn {
    text-transform: uppercase;
    min-width: auto;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 600; }

.ic-plus {
  background: url("../img/icons/plus.png") no-repeat center/24px;
  width: 24px;
  height: 24px;
  margin-left: 15px; }

.ic-minus {
  background: url("../img/icons/minus.png") no-repeat center/24px;
  width: 24px;
  height: 24px;
  margin-left: 5px; }

.add-review {
  position: relative;
  margin-bottom: 10px; }
  .add-review textarea {
    padding-bottom: 20px;
    resize: vertical; }
  .add-review .bottom-textarea {
    color: #999999;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    right: 15px; }

.btn-grey-b {
  background: #EEEEEE;
  color: #909090; }

.catalog .item-books {
  padding: 0;
  margin-bottom: 30px; }

.pagination > li:first-child > a {
  margin-right: 10px; }

.pagination > li:last-child > a {
  margin-left: 10px; }

.pagination > li > a {
  color: #777;
  background: #F5F5F5;
  border: 1px solid #F5F5F5; }

.pagination > li.active > a,
.pagination > li:hover > a,
.pagination > li:focus > a {
  background: #fff;
  color: #8E2976; }

.ic-calendar {
  background: url("../img/icons/ic-calendar.png") no-repeat center/16px;
  width: 16px;
  height: 16px;
  margin-right: 5px; }

.top-tags span {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #777;
  padding: 10px 15px;
  display: inline-block; }

.tab-li-prof {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 2px 4px #F5F5F5; }
  .tab-li-prof li {
    display: block;
    float: none; }
    .tab-li-prof li a {
      border: 0 !important;
      color: #333;
      padding: 15px 17px; }
      .tab-li-prof li a i {
        width: 16px;
        height: 16px;
        margin-right: 15px; }
      .tab-li-prof li a .ic-nof {
        float: right;
        font-size: 13px;
        background: #EF2525;
        color: #fff;
        padding: 0 7px;
        border-radius: 10px;
        margin-top: 5px; }
  .tab-li-prof li:hover a,
  .tab-li-prof li:focus a,
  .tab-li-prof li.active a {
    color: #8E2976 !important;
    background: transparent url("../img/icons/ic-arrow-green.png") no-repeat center right 15px/8px; }
  .tab-li-prof li + li {
    border-top: 1px solid #EEEEEE; }

.input-prof.login-input .btn {
  font-weight: 600; }

.input-prof.login-input .form-control {
  margin-bottom: 10px; }

.input-prof.login-input .btn-border-blue {
  background: rgba(3, 133, 124, 0.1);
  color: #8E2976; }

.input-prof .form-control {
  border: 1px solid #eee;
  height: 50px;
  margin-bottom: 20px;
  box-shadow: none;
  padding: 10px 20px; }

.input-prof select.form-control {
  background: url("../img/icons/ic-grey-arrow.png") no-repeat center right 15px/14px; }

.input-prof select {
  -moz-appearance: none;
  -webkit-appearance: none; }

.input-prof select::-ms-expand {
  display: none; }

.ic-user {
  background: url("../img/icons/ic-user.png") no-repeat center/16px; }

.ic-book {
  background: url("../img/icons/ic-book.png") no-repeat center/16px; }

.ic-paument {
  background: url("../img/icons/ic-paument.png") no-repeat center/16px; }

.ic-bask {
  background: url("../img/icons/ic-baskt.png") no-repeat center/15px; }

.ic-out-user {
  background: url("../img/icons/ic-out-user.png") no-repeat center/16px; }

.ic-tel {
  background: url("../img/icons/ic-tel.png") no-repeat center/22px;
  width: 22px;
  height: 20px;
  margin-right: 15px; }

.ic-audio {
  background: url("../img/icons/ic-audio.png") no-repeat center/17px;
  width: 17px;
  height: 22px;
  margin-right: 15px; }

.top-catalog {
  border: 1px solid rgba(3, 133, 124, 0.2);
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 20px; }
  .top-catalog p {
    margin-bottom: 0; }

.table-paument {
  border-color: #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee; }
  .table-paument td {
    border-color: #eee;
    min-width: 170px; }

.tag-type {
  border: 1px solid rgba(142, 41, 118, 0.21);
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0 15px;
  display: inline-block; }
  .tag-type .ic-tel {
    background: url("../img/icons/ic-tel.png") no-repeat center/16px;
    width: 16px;
    height: 14px;
    margin-right: 7px; }

.img-basket-book {
  width: 150px;
  float: left; }
  .img-basket-book img {
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover; }

.inf-basket {
  margin-left: 180px; }

.itog-prod {
  font-size: 24px;
  color: #fff;
  background: #8E2976;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 10px;
  margin-right: 10px; }

.btn-prod {
  background: rgba(142, 41, 118, 0.1);
  border-radius: 4px;
  color: #8E2976;
  font-weight: 600;
  display: inline-block;
  padding: 7px 24px; }

.up_count {
  margin-bottom: 10px;
  margin-left: -4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border: 1px solid #F5F5F5;
  height: 38px;
  width: 38px; }

.down_count {
  margin-bottom: 10px;
  margin-right: -4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #fff;
  border: 1px solid #F5F5F5;
  height: 38px;
  width: 38px; }

.counter {
  width: 75px;
  padding: 0 10px;
  text-align: center;
  background: #F5F5F5;
  border: 0;
  height: 38px; }

.bottom-bask {
  margin-top: 10px; }

.i-basket {
  margin-bottom: 40px;
  padding: 10px;
  cursor: pointer; }

.ic-x {
  background: url("../img/icons/ic-x.png") no-repeat center/14px;
  width: 14px;
  height: 14px;
  float: right;
  display: none; }

.i-basket:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  border-radius: 4px; }
  .i-basket:hover .ic-x {
    display: block; }

.ic-book-red {
  background: url("../img/icons/ic-book-red.png") no-repeat center/16px;
  width: 16px;
  height: 16px;
  margin-right: 10px; }

.text-red {
  color: #EA5046; }

.container-radio {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  padding: 14px 15px 14px 45px; }

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: -1; }

.container-radio:hover input ~ .checkmark {
  background-color: #fff; }

.container-radio input:checked ~ .checkmark {
  background: #8E2976;
  color: #fff; }

.checkmark:after {
  content: "";
  position: absolute; }

.container-radio input:checked ~ .checkmark:after {
  display: block;
  background: #fff url("../img/icons/ic-make.png") no-repeat center/14px; }

.container-radio .checkmark:after {
  top: 16px;
  left: 14px;
  height: 22px;
  width: 22px;
  background: #eee; }

.right-block {
  margin-bottom: 30px; }
  .right-block img {
    width: 90px;
    height: 120px;
    min-width: 90px;
    margin-right: 20px; }

.border-right-b {
  border-left: 1px solid #EEEEEE;
  padding-left: 30px; }

.bottom-itog {
  border-top: 1px solid #eee;
  padding-top: 20px; }

.max-w-670 {
  max-width: 670px;
  margin: 0 auto; }

.border-block {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  max-width: 370px;
  padding: 10px; }

.navbar-brand .dropdown-menu {
  top: 46px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 0;
  width: 270px; }
  .navbar-brand .dropdown-menu li a {
    padding: 10px 15px;
    border-left: 2px solid transparent;
    font-size: 17px; }
  .navbar-brand .dropdown-menu li:hover a,
  .navbar-brand .dropdown-menu li:focus a,
  .navbar-brand .dropdown-menu li.active a {
    background: transparent;
    color: #8E2976;
    border-left: 2px solid #8E2976; }

.big-slid {
  margin-bottom: 0 !important; }
  .big-slid .slick-dots {
    bottom: 20px; }
    .big-slid .slick-dots .slick-active button {
      border: 2px solid #fff;
      border-radius: 50%;
      background: transparent; }
  .big-slid .slick-dots li button {
    padding: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%; }
  .big-slid .slick-dots li button:before {
    content: " "; }

.div-blur .big-title {
  margin-bottom: 10px;
  font-family: "SFProDisplay-Regular";
  font-weight: 900; }

.title-min {
  position: relative; }

.title-min:after {
  content: "";
  width: 30px;
  height: 2px;
  background: #E6E6E6;
  position: absolute;
  left: 0;
  bottom: -5px; }

.d-flex-page {
  display: flex; }

.line-title {
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  margin-bottom: 25px; }
  .line-title b {
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
    padding-right: 5px; }

.in-menu-li {
  background: #fafafa; }
  .in-menu-li li a {
    display: block; }

@media (max-width: 991px) {
  .catalog .item-books {
    height: 300px; }
    .catalog .item-books img {
      height: 190px; }
  .menu .navbar-brand {
    margin-right: 0;
    padding: 0 15px; }
  .icons-top .icons {
    margin-left: 5px;
    width: 30px;
    height: 23px;
    background-size: 13px; }
  .menu {
    padding: 10px 0; }
  .lang-i {
    margin-right: 15px; }
    .lang-i a {
      font-size: 15px;
      padding: 2px 10px; }
  .top-header {
    padding: 10px 0; }
  .img-logo {
    margin-right: 0;
    width: 130px; }
  .btn {
    min-width: 280px; }
  .big-title {
    margin-bottom: 30px;
    font-size: 32px; }
  .section-row {
    padding: 20px 0; }
  .slid-books .slick-next {
    right: 10px; }
  .slid-books .slick-prev {
    left: 10px; }
  .item-books img {
    height: 170px; }
  body {
    font-size: 14px; }
  .item-article {
    margin-top: 15px; }
  .bg-black-grey {
    background-image: none;
    padding: 15px; } }

@media (max-width: 767px) {
  .mt-40 {
    margin-top: 30px; }
  .text-article {
    height: auto; }
  .big-title {
    margin-bottom: 20px; }
    .big-title span.pull-right {
      padding-top: 10px;
      font-size: 17px; }
  .btn-mob {
    margin: 20px 0; }
  .footer {
    font-size: 12px;
    padding: 30px 0; }
  .top-slid {
    display: block; }
  .top-slid > div {
    width: 100%;
    padding: 20px 0 40px; }
  .bg-black-grey .btn {
    width: 100%;
    margin-top: 15px; }
  .slid-books .slick-next, .slid-books .slick-prev {
    background: transparent; }
  .slid-books .slick-next:before, .slid-books .slick-prev:before {
    color: #555; }
  .d-flex {
    flex-wrap: wrap; }
  .img-in-book {
    width: 100px;
    min-width: 100px;
    float: left;
    margin-right: 5px; }
    .img-in-book img {
      height: auto;
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: left top;
         object-position: left top; }
  .mob-right {
    margin-left: 105px;
    font-size: 12px; }
  .inf-range {
    margin-top: 10px; }
  .inf-in-book {
    padding-left: 0; }
  .inf-range > div {
    margin-bottom: 5px; }
  .inf-range > div > span {
    font-size: 10px;
    padding: 5px 10px; }
  .ic-frag {
    width: 10px;
    height: 10px;
    background-size: 10px; }
  .link-type-books {
    margin-top: 20px; }
  .tab-inf-books .btn {
    min-width: auto;
    width: 100%;
    margin-bottom: 10px; }
  .add-star-rev {
    display: block;
    margin-left: 0 !important; }
  .tab-inf-books {
    padding-top: 15px; }
  .pagination > li:first-child > a {
    margin-right: 5px; }
  .pagination > li:last-child > a {
    margin-left: 5px; }
  .fs-24 {
    font-size: 18px; }
  .tab-li-prof {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 15px; }
  .tab-li-prof li:hover a, .tab-li-prof li:focus a, .tab-li-prof li.active a {
    background: none; }
  .tab-li-prof li + li {
    border-bottom: 0;
    border-left: 1px solid #eee; }
  .tab-li-prof li a {
    padding: 10px;
    position: relative; }
  .tabs-li > li > a {
    padding: 5px 10px; }
  .tab-li-prof li a .ic-nof {
    position: absolute;
    top: -2px;
    right: -5px;
    margin-top: 0; }
  .input-prof .form-control {
    height: 40px;
    margin-bottom: 10px; }
  .inf-basket {
    margin-left: 130px; }
  .img-basket-book {
    width: 120px; }
    .img-basket-book img {
      height: 175px; }
  .counter {
    width: 45px; }
  .big-title .btn-blue {
    width: 100%;
    margin-top: 10px; }
  .border-right-b {
    border-left: 0;
    padding-left: 0;
    margin-top: 30px; }
  .item-books {
    height: 255px; }
  .big-slid .slick-dots {
    bottom: 0; }
  .catalog .item-books {
    height: 275px;
    margin-bottom: 20px; }
  .input-prof .btn-blue {
    margin: 10px auto;
    display: block; }
  .search-top {
    width: 100%; }
  .navbar-brand .dropdown-menu {
    padding: 0;
    margin: 0;
    top: 40px; } }
